doctype html
head
	title='letNight cvApp'
	link(rel='stylesheet', type='text/css', href='/bootstrap/bootstrap.min.css')
	link(rel='stylesheet', type='text/css', href='/bootstrap/bootstrap-theme.min.css')
body
	menu
		h1 letnight
		ul
			li mineCver
			li andresCver
			li kompetanseSøk
			li logut
