doctype html
head
	title='letNight cvApp'
	link(rel='stylesheet', type='text/css', href='/bootstrap/bootstrap.min.css')
	link(rel='stylesheet', type='text/css', href='/bootstrap/bootstrap-theme.min.css')
body
	header(class='sticky top-bar-container')
		h1 letnight
		nav(class='top-bar small-12 columns')
			ul(class='list-inline')
				li mineCver
				li andresCver
				li kompetanseSøk
				li 
					a(href='/createcv') lagCv
				li logut
