doctype html
html
  head
    title LETNIGHT CV-App
    meta(name='viewport', content='width=device-width')
    meta(charset='UTF-8')
    meta(name='robots', content='noindex')
    if typeof scripts !== 'undefined'
        each script in scripts
            script(src=script)
    link(rel='stylesheet', type='text/css', href='/bootstrap/style.css')
    link(rel='shortcut icon', href='/bootstrap/fanelogo.png')
    
  //-------BODY PART--------------------------
  body({padding-top:70px})
        nav.navbar-fixed-top.navbar-default.modal-content
            .container
                .navbar-header
                    //letnight logoen som skal settes langs til venstre ved menybaren
                    a.navbar-brand.navbar-form.navbar-left(href="../")
                        img(src="../bootstrap/logo.gif")
                //--------Collect the nav links, forms and other content for toggling-----
                .collapse.navbar-collapse
                    ul.navbar-text.h1.small.nav.navbar-nav
                      li 
                        a(href='#') Min CV
                      li
                        a(href='/showUsers') CVer
                      li
                        a(href='/search') Kompetanse Søk
                      li
                        a(href='/createcv') Lage CV
                      li 
                        a(href='#') Logg ut
