doctype html
head
	title='letNight cvApp'
	link(rel='stylesheet', type='text/css', href='../../bootstrap/normalize.css')
	link(rel='stylesheet', type='text/css', href='../bootstrap/style.css')
body
	menu
		h1 letnight
		ul
			li mineCver
			li andresCver
			li kompetanseSøk
			li logut
