include ./includes/head.jade

div#users
    table
        tr
            th Id
            th Fornavn
            th Etternavn
            th Epost
            th Telefon
script(src='/scripts/brukerliste.js')
include ./includes/footer.jade
