//header, menybaren
include ./includes/head.jade
menu#createCvMenu
	ul.list-inline
		li Forsidetest 
		li HovedSide
		li Erfaringer
#cvAddField
script(type='text/javascript', src='/scripts/cvCreationMenu.js')

//Footer
include ./includes/footer.jade