include ./includes/head.jade
menu(id='createCvMenu')
	ul
		button(id='forsidetxtBtn') Forsidetest 
		button HovedSide
		button Erfaringer
div(id='cvAddField')
script(type='text/javascript', src='/scripts/cvCreationMenu.js')
