//header, menybaren
include ./includes/head.jade

h2 WE ARE LETNIGHT
    
.container.container-fluid.jumbotron.navbar-default
      p Since 1999, Letnight has helped leaders in the digital industry to realize business critical projects in the forefront of technology. WE ARE PROUD TO BE PART OF THE DIGITAL REVOLUTION. As genuine consultants we provide independent solutions, tangible results and sustainable value to our clients by combining competence, creativity and business sense. Read about how we develop our smart and caring people (GROW TALENT), gain innovative leverage through knowledge sharing (CREATE TOGETHER) and create magic with our clients (ENGAGE IN CHALLENGE). We hope to change the world.

//footer
include ./includes/footer.jade