doctype html
html(lang="no")
    head
        meta(name="viewport" content="width=device-width")
        meta(charset="UTF-8")
        meta(name="robots" content="noindex")
        title="Test"
        link(rel="stylesheet" type="text/css" href="View/default/css/style.css")
    body
        h1=testh
        form(action="", method="post")
            p
                input(type="text", name="test", value=testp)
                input(type="submit", name="knapp")