include ./includes/head.jade
p#search
	input(type="text" id="searchPhrase" placeholder="Skriv inn søkeord")
	input(type="submit" id="searchSubmit" value="Søk")
div#searchResults
include ./includes/footer.jade