include ./includes/head.jade
div.panel.table-bordered.textbox-model2(style="border: solid 1px #000;")
	h2#name
	h3#title
	p#introduction
	div#technologies
	h3 Utdanning
	div#education
	h3 Referanser
	div#references
include ./includes/footer.jade