include ./includes/head.jade
table.panel.table-bordered.textbox-model2#users
    thead
        tr
            th Fornavn
            th Etternavn
            th Epost
            th Telefon
div#userResults
include ./includes/footer.jade