.allLeft2
    lable.small Konsulent
    br 
    select
    br
    lable.small Cver
    br 
    select
    br 
    lable.small Utdanning
    br 
    ul#eduList
    br 
    lable.small Referanser
    br 
    ul#refList
    br
    button.btn-primary Send
