.allLeft2
    lable.small Konsulent
    br 
    select
    br
    lable.small Utdanning
    br 
    input(type='text')
    br
    br
    lable.small Utdanningssted
    br
    input(type='text')
    br 
    br
    button.btn-primary Send
