.allLeft2
    lable.small Konsulent
    br 
    select
    br
    lable.small Rolle
    br
    input(type='text')
    br
    br
    lable.small For client
    br 
    input(type='text')
    br
    br
    lable.small Fra dato
    br
    input(type='date')
    br 
    br
    lable.small Til dato
    br
    input(type='date')
    br
    br
    lable.small Tekst
    br 
    textarea
    br
    ul.listings
    br 
    button.btn-primary Send
