.allLeft2
    lable.small Konsulent
    br 
    select
    br
    lable.small Cv Navn
    br
    input(type='text')
    br
    br
    lable.small Add Cv Intro
    br
    textarea
    br
    br
    lable.small Kunskaper 
    br 
    ul.listings
    br
    button.btn-primary Send

